<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col offset-1">

   

    <h2>Edit the listing</h2>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label> 
             <input type="text" name="listing[title]" placeholder="enter the title" class="form-control" value="<%=listing.title%>">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  type="text" name="listing[description]" placeholder="enter the description"  class="form-control"><%=listing.description%></textarea>
        </div>

        <div class="mb-3">
            <h6>Original Image</h6> <br>
            <img src="<%=originalUrl%>" alt="" style="height: 200px; width: 250px; object-fit: cover; border-radius: 0.5rem;">
       </div>
       
       <div class="mb-3">
            <label for="image" class="form-label">Upload the new Image</label>
         <input type="file" name="listing[image]" placeholder="enter the image url" class="form-control"  >
       </div>

       <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="enter the price" class="form-control" value="<%=listing.price%>">
            </div>

            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="enter the location"  class="form-control"  value="<%=listing.location%>">
            </div>
       </div>
       
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="enter the country" class="form-control" value="<%=listing.country%>">
         </div>
       
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-control" required>
                <option value="<%=listing.category%>"><%=listing.category%></option>
                <option value="Trending">Trending</option>
                <option value="Top Rated">Top Rated</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Pools">Pools</option>
                <option value="Castles">Castles</option>
                <option value="Forest">Forest</option>
                <option value="Skiing">Skiing</option>
                <option value="Play">Play</option>
            </select>
         </div>
       
        <button class="btn edit-btn mb-5">Edit</button>
    </form>
     </div>
</div>